<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<script type="text/javascript" src="/js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style1.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/carousal.css">
<script type="text/javascript" src="/js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/js/jcarousel-basic.js"></script>
<title>{{title}}</title>
</head>
<body>
	<header>
		<label>Last Login Date: </label><label>{{logindate}}</label>
	</header>
	<div id="logout">
		<form id="logout" method="post" action="/logout">
			<input type="image" src="/img/Logout.jpg" alt="Submit" value="Logout"
				width="100" height="25"
				style="position: fixed; top: 20px; left: 1101px;">



		</form>
	</div>
	<h4 class="name">Hi {{firstName}} !!</h4>
	<div class="wrapper">

		<h1>Welcome to Amazon</h1>

		<p>Select one of the catagories to proceed</p>

		<div class="jcarousel-wrapper">
			<div class="jcarousel">
				<ul>
					{{#each catalog}}
					<li><a href="/{{catalogName}}"><img src="{{url}}"
							width="600" height="400" alt=""></a></li> {{/each}}
				</ul>
			</div>



			<a href="" class="jcarousel-control-prev">&lsaquo;</a> <a href=""
				class="jcarousel-control-next">&rsaquo;</a>




		</div>
	</div>



</body>
</html>